/* body{
  background: white;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.forgotPassword{
  width: 360px;
  height: 500px;
  background-color: white;
  margin: auto;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.firstHeader{
  font-size: 38px;
  font-family: Apple Chancery, cursive;
  font-weight: 100;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
}

.secondHeader{
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
  margin-top: -20px;
  margin-bottom: 10px;
}

.resetForm{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 50px;
}

.msg{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: green;
  padding: 6px;
  color: white;
  margin-top: 10px;
  margin-bottom: 0px;
  border-radius: 3px;
}

span{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: red;
  margin-top: -18px;
  margin-bottom: 20px;
}

.form{
  margin: -10px 0px 1px 0px; 
  padding: 10px;
  font-size: 16px;
  border: 0;
  font-family: Arial, Helvetica, sans-serif;
}

input{
  background: #f2f2f2;
  margin-top: 2000px;
}

#hrLines{
  position: relative;
  max-width: 500px;
  margin: 100px auto;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

#hrLines:before{
  content:" ";
  height: 1px;
  width: 100px;
  background: #4542425e;
  display: block;
  position: absolute;
  top: 50%;
  left: 200%;
}

#hrLines:after{
  content:" ";
  height: 1px;
  width: 100px;
  background: #4542425e;
  display: block;
  position: absolute;
  top: 50%;
  right: 200%;
}

.login{
  padding: 6px;
  border: 1px solid gray;
  margin: 0;
  text-align: center;
  margin-top: 30px;
}

p{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: black;
  margin-top: 10px;
  margin-bottom: 20px;
}

#message{
  margin-bottom:30px;
}

#create{
  color: black;
  margin-top: 0px;
}

.account{
  color: black;
}

a{
  color: blue;
  text-decoration: none;
}

button{
  background: blue;
  color: white;
  cursor: pointer;
  border: 0;
  border-radius: 8px;
  padding: 6px;
  font-weight: bold;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

button:disabled{
  cursor: default;
} */